/*---------------Globals---------------*/
.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
}

.app-body {
  display: flex;
  background-color: #ededed;
  margin-top: -30px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

.sidebar,
.chat {
  display: flex;
  flex-direction: column;
}

.sidebar-header-right,
.sidebar-search,
.sidebar-search-container,
.sidebar-chat,
.chat-header,
.chat-footer {
  display: flex;
  align-items: center;
}

/*-------------End of Globals------------*/

/*--------------Sidebar css------------*/
.sidebar {
  flex: 0.35;
}

/*--------sidebar header------------- */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar-header-right {
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar-header-right .MuiSvgIcon-root {
  margin-right: 0.4rem;
  font-size: 24px !important;
}
/*---------end of sidebar header--------- */

/*-----------sidebar search------------- */
.sidebar-search {
  background-color: #f6f6f6;
  height: 2.44rem;
  padding: 5px;
}

.sidebar-search-container {
  background-color: white;
  width: 100%;
  height: 2.19rem;
  border-radius: 1.25rem;
}

.sidebar-search-container .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
  padding-right: 2px;
  font-size: 2.8rem;
}

.sidebar-search-container > input {
  border: none;
  outline-width: 0;
  margin-left: 0.2rem;
  padding: 10px 0;
}
/*-------------end of sidebar search---------------*/

/*-------------sidebar chats------------------------*/
.sidebar-charts {
  flex: 1;
  background-color: white;
  overflow-y: scroll;
}

.sidebar-chat {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}
.sidebar-chat:hover {
  background-color: #ebebeb;
}

.sidebar-chat-info {
  margin-left: 1rem;
}
.sidebar-chat-info > h2 {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.sidebar-chat-info > p {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  white-space: pre-line;
}

/*-----------------End of sidebar chats---------------*/

/*------------------End of sidebar-----------------------*/

/*--------------------Chat room css---------------------*/
.chat {
  flex: 0.65;
}

/*-----------Chat Header------------------- */
.chat-header {
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.chat-header-info {
  flex: 1;
  padding-left: 20px;
}

.chat-header-info > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat-header-info > p {
  color: gray;
}
/*------------End of chat header------------------ */

/*-------------------Chat body--------------- */
.chat-body {
  flex: 1;
  background: url("./images/whatsapp-background.png") center/cover repeat;
  overflow-y: scroll;
  padding: 2rem 1rem;
}

.chat-content {
  position: relative;
  font-size: 1rem;
  padding: 0.63rem;
  width: fit-content;
  border-radius: 0.63rem;
  background-color: #fff;
  margin-bottom: 1.5rem;
}

.chat-receiver {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat-timestamp {
  margin-left: 0.63rem;
  font-size: 0.7rem;
}

.chat-name {
  position: absolute;
  top: -1.2rem;
  font-weight: 800;
  font-size: 0.8rem;
}

/*-----------------End of chat body------------- */

/*----------------chat footer----------------- */
.chat-footer {
  justify-content: space-between;
  height: 3.8rem;
  border-top: 1px solid lightgray;
}

.chat-footer > form {
  flex: 1;
  display: flex;
}

.chat-footer > form > input {
  flex: 1;
  border-radius: 1.5rem;
  padding: 0.63rem;
  border: none;
  outline-width: 0;
}

.chat-footer > form > button {
  display: none;
}

.chat-footer > .MuiSvgIcon-root {
  padding: 0.63rem;
  color: gray;
  cursor: pointer;
  font-size: 2.8rem;
}

/*------------------End of chat footer-------------- */

/*-----------------End of chat room css-------------------*/
